absl-py==0.7.1
autopep8==1.4.4
backcall==0.1.0
bleach==1.5.0
certifi==2018.8.24
cycler==0.10.0
Cython==0.29.7
decorator==4.4.0
graphviz==0.10.1
h5py==2.9.0
hiddenlayer==0.2
html5lib==0.9999999
ipdb==0.12
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
kiwisolver==1.1.0
lmdb==0.96
Markdown==3.1
matplotlib==3.0.3
motmetrics==1.1.3
numpy==1.16.3
opencv-contrib-python==4.1.0.25
opencv-python==3.4.5.20
pandas==0.24.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
pycodestyle==2.4.0
Pygments==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.1
torch==0.4.0
torchvision==0.2.2.post3
tqdm==4.31.1
traitlets==4.3.2
wcwidth==0.1.7
websockets==7.0
Werkzeug==0.15.2
